{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {# name #}
        <p>
            {{ form.name.label }}<br>  {# sets name of input #}
            {{ form.name(size=32) }}<br>  {# sets size of input box #}
            {% for error in form.name.errors %} {# displays error if contains invalid entry #}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {# email #}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {# message #}
        <p>
            {{ form.message.label }}<br>
            {{ form.message(size=32) }}<br>
            {% for error in form.message.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>  {# submit button for form #}
    </form>
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}

{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}

{% endblock %}

{# Place the content for the cellContent4 in this block #}
{% block cellContent4 %}

{% endblock %}